<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h6 class="navbar-brand">Vagabond</h6>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log In", login_path %></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
