
<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Full Name" %>
  </div>
  <div>
    <%= f.text_field :current_city, placeholder: "Current City" %>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>

  <%= f.submit "Save User Changes" %>
<% end %>
