<div class="m-x-auto newuser" style="width: 300px; height: 325px;">

  <h3>Sign Up</h3>

  <%= form_for @user do |f| %>
    <div>
      <span class="label label-default"></span><%= f.text_field :name, placeholder: "Full Name", size: "35x10" %>
    </div>
    <br>
    <div>
      <span class="label label-default"></span><%= f.text_field :current_city, placeholder: "Current City", size: "35x10" %>
    </div>
    <br>
    <div>
      <span class="label label-default"></span><%= f.text_field :email, placeholder: "Email", size: "35x10" %>
    </div>
    <br>
    <div>
      <span class="label label-default"></span><%= f.password_field :password, placeholder: "Password", size: "35x10" %>
    </div>
    <br>
    <div class="userSubmitButton"><%= f.submit "Submit", class: "btn btn-secondary" %></div>
  <% end %>
</div>
