<div class="postForm">
<% if @city %>
<h2> New Post For <%= @city.name %> </h2>
<% end %>

<%= form_for [@city, @post] do |f| %>
  <div id="postFormTitle">
    <%= f.text_field :title, placeholder: "Title", size: "50x10" %>
  </div><br>
  <div>
    <%= f.text_area :body, placeholder: "Post body", size: "100x10" %>
  </div><br>
  <%= f.submit "Add Post", class: "btn btn-success" %>
<% end %>
</div>
