<div>
</div>

<div class="holder">
<h2> <%= @city.try(:name) %></h2>
  <center><%= image_tag @city.image, height: 500, width: 800 %></center><br>
    <% if current_user && admin %>
    <%= button_to 'Delete City', destroy_city_path(@city), method: :delete, data: {confirm: "Are you sure you want to delete #{ @city.name }?"}, class: "btn btn-danger" %>
    <% end %>
</div>
<hr>
<div class="holder">
  <% if current_user %>
    <%= button_to "New Post", new_city_post_path(@city, @post), method: "get", class: "btn btn-info" %>

  <% else %>
    <h3>
     <%= link_to "Log In", login_path %>
     or
     <%= link_to "Sign Up", new_user_path %>
     to add a post
     </h3>
  <% end %>
  <hr>
  <% @city.posts.sort_by{|post| [post['updated_at']]}.reverse.each do |post| %>
  <h3> <%= link_to post.title, city_post_path(@city, post) %></h3>
  <h5> <strong>Posted by:</strong> <%= User.find_by_id(post.user_id).name %> </h5>
  <h5> <strong>Created:</strong> <%= post.created_at.localtime.to_formatted_s(:long_ordinal) %> </h5>
  <h5> <%= "Edited on " + post.updated_at.localtime.to_formatted_s(:long_ordinal) if post.updated_at.to_s != post.created_at.to_s %> </h5>
  <h4> <em><%= post.body.length > 180 ? post.body[0,180] << "..." : post.body %></em> </h4>
  <% end %>
</div>
