<div>
</div>

<div class="holder">
<h2> <%= @city.try(:name) %></h2>
  <center><%= image_tag @city.image, height: 500, width: 800 %></center>
    <% if current_user && current_user.admin %>
      <%= button_to 'Delete City', destroy_city_path(@city), method: :delete, data: {confirm: "Are you sure you want to delete #{ @city.name }?"}%>
    <% end %>
</div>
<br>
<hr>
<div class="holder">
  <% if current_user %>
    <%= button_to "New Post", new_city_post_path(@city, @post), method: "get" %>

  <% else %>
    <h3>
     <%= link_to "Log In", login_path %>
     or
     <%= link_to "Sign Up", new_user_path %>
     to add a post
     </h3>
  <% end %>
  <hr>
  <% @city.posts.sort_by{|post| [post['updated_at']]}.reverse.each do |post| %>
  <h3> <%= link_to post.title, city_post_path(@city, post) %></h3>
  <% end %>
</div>
