<div>
</div>

<div class="holder">
<h2> <%= @city.try(:name) %></h2> <%= rating_for @city, "city", disable_after_rate: true, imdb_avg: true, stars: 10%>
  <center><%= image_tag @city.image, height: 500, width: 800 %></center><br>
    <% if current_user && admin %>
    <%= button_to 'Delete City', destroy_city_path(@city), method: :delete, data: {confirm: "Are you sure you want to delete #{ @city.name }?"}, class: "btn btn-danger" %>

    <% end %>
<% if current_user %>
      Rate This City  : <%= rating_for @city, 'city', half_show: true, number: 10,enable_half: true, hints: ['bad', 'poor', 'regular', 'good', 'super fun'],target: '#hintDiv',cancel_hint: 'Cancel this vote!'%>
<div id="hintDiv"></div>
<% end %>
</div>
<hr>
<div class="holder">
  <% if current_user %>
    <%= button_to "New Post", new_city_post_path(@city, @post), method: "get", class: "btn btn-info" %>

  <% else %>
    <h3>
     <%= link_to "Log In", login_path %>
     or
     <%= link_to "Sign Up", new_user_path %>
     to add a post
     </h3>
  <% end %>
  <hr>
  <% @city.posts.sort_by{|post| [post['updated_at']]}.reverse.each do |post| %>

  <h3> <%= link_to post.title, city_post_path(@city, post) %></h3>
  <h5> <strong>Posted by:</strong> <%= User.find_by_id(post.user_id).name %> </h5>
  <h5> <strong>Created:</strong> <%= post.created_at %> </h5>
  <h4> <em><%= post.body.length > 180 ? post.body[0,180] << "..." : post.body %></em> </h4>

  <% end %>

</div>
