<div class="postForm">
<h2>Edit Post For <%= City.find_by_id(@post.city_id).name %> </h2>

<%= form_for [@city, @post] do |f| %>
  <div id="postFormTitle">
    <%= f.text_field :title, placeholder: "Title", size: "50x10" %>
  </div><br>
  <div>
    <%= f.text_area :body, placeholder: "Post body", size: "100x10" %>
  </div><br>
  <%= f.submit "Save Post", class: "btn btn-success" %>
<% end %>
</div>
