<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">Vagabond</p>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li>


          <% else %>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>
    <% flash.each do |name, msg| %>
    <div class="alert <%= bootstrap_class_for(name) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <p><%= msg %></p>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
